# -------------------------------
# Node / Next.js
# -------------------------------
node_modules
.npm
.pnpm-store
.pnp.*
.next
out
dist
build
.cache
coverage
*.log

# -------------------------------
# Env / Secrets
# -------------------------------
.env
.env.*
!.env.example

# -------------------------------
# IDE (WebStorm / JetBrains)
# -------------------------------
.idea/
*.iml

# -------------------------------
# OS files
# -------------------------------
.DS_Store
Thumbs.db

# -------------------------------
# Others
# -------------------------------
.vscode/
*.local
*.lock-wscript
